:root{
    --color-dark: rgb(30, 0, 65);
    --color-dark2: rgb(49, 2, 103);
    --color-dark3: rgb(64, 4, 133);
    --color-dark4: rgb(56, 3, 89);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(0, 195, 29);
    --color-green2: rgb(59, 147, 5);
    --color-red: rgb(133, 3, 3);
    --color-red: rgb(194, 2, 2);

}

html,body{
    font-family: 'Lato', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4rem;
}
.content-add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#input-add-item,#btn-add-item{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}
#input-add-item{
    width: 20rem;
    border-radius: 10px;
}
#btn-add-item{
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--color-dark2);
}
#btn-add-item:hover{
    background-color: var(--color-dark3);
    cursor: pointer;
    transition: 1s;
}
#content-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}
#content-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--color-dark3);
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#content-list li:hover{
    background-color: var(--color-dark4);
    transition: .4s;
    padding-left: 2rem;
}
#content-list button{
    color: var(--color-white);
    border-radius: 50%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: var(--color-green);
    border: none;
}
#content-list button:hover{
    background-color: var(--color-green2);
    transition: 1s;
    cursor: pointer;
}